{% extends 'AppBundle::layout.html.twig' %}

{% block menu_shows %}active{% endblock %}

{% block contents %}
    <section>
        <div class="container">
            <h3>Liste des séries</h3>
            {% if search_content is defined %}
                <h3> Recherche : {{ search_content }}</h3>                
            {% endif %}

            {% if shows is empty %}
                <div class="col-sm-6 col-sm-offset-3">
                    <b> Aucuns résultats ... </b>
                </div>
            {% endif %}

            {% if shows %}
                {% for show in shows %}
                    <a href="{{ path('show', {id: show.id}) }}" class="tvshow col-sm-6 col-sm-offset-3">
                        <img class="pull-left" src="{{ web_image('uploads/'~show.image).resize(100, 100).png }}" />
                        <h4>{{ show.name }} ({{ show.seasons|length }} saisons)</h4>
                        {{ show.synopsis }}
                    </a>
                {% endfor %}
            {% endif %}

            {% if app.user %}
                <a href="{{ path('admin_add_show') }}">Ajouter une série</a>
            {% endif %}
        </div>
    </section>
{% endblock %}