{% extends 'AppBundle::layout.html.twig' %}

{% block menu_shows %}active{% endblock %}

{% block contents %}
    <section>
    	<div class="container">
    		<h3>Liste des séries</h3>
            <div class="row">
    		{% for show in shows %}
            <a href="{{ path('show', {id: show.id}) }}" class="tvshow col-sm-6">
                <img class="pull-left" src="{{ web_image('uploads/'~show.image).resize(100, 100).png }}" />
                <h4>{{ show.name }} ({{ show.seasons|length }} saisons)</h4>
                {{ show.synopsis }}
            </a>
    		{% endfor %}
            </div>

            <div class=" row col-sm-6 col-sm-offset-3">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    {% for page in pages %}
                        <li>
                            <a href="{{ path('shows', {'page': page}) }}">
                                {{page}}
                            </a>
                        </li>
                    {% endfor %}

                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>

    		{% if app.user %}
    			<a href="{{ path('admin_add_show') }}">Ajouter une série</a>
    		{% endif %}
    	</div>
    </section>
{% endblock %}